*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 6.25%;
}
body{
    width:100%;
    height: 100vh;
    background : linear-gradient(to left bottom , lightblue,lightpink,lightblue);
    overflow-y: hidden;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width:90%;
    height:50%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:90px;
    background-color: rgba(255, 255, 255, .3);
    background: linear-gradient(180deg,pink,rgb(21, 202, 238));
    box-shadow: 10px 10px 12px #454545;
    border-radius: 13px;
}   
.heading{
    font-size: 2.6rem;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px 2px rgb(30, 28, 28,.3);
    letter-spacing: 2px;

}
.firstpara{
    padding:35px;
    font-size: 2.3rem;
}
.btn{
    padding: 1rem;
    font-weight: 800;
    width:15vw;
    text-transform: uppercase;
    text-align: center;
    border-color: rgba(255,255,255,0.5);
    background-color: rgba(255,255,255, 0.2);
    border-radius: 5px;
    cursor: pointer;
    font-size: 14em;
}
.btn:hover{
    background-color: rgba(255,255,255, 0.6);
    box-shadow: 0 3px 3px rgba(27, 25, 25, 0.5);
    transition : all 300ms ease;
}

@media  (max-width:800px) {
    body{
        font-size:1.25%;
        width: 100%;
        height: 100%;
    }
    .box{
        width: 100vw;
        height: 60%;
    }
    .btn{
        font-size: 0.6rem;
    }
}